.aktuelles
    padding-top: 30px
    padding-bottom: 15vh

    &__title
        padding: 10px 0
        display: block
        font-family: 'open sans'
        color: red
        font-size: 21px
        font-weight: 600
        font-style: italic
    

@media (max-width: 1000px)
    .aktuelles