footer
    margin: 0
    width: 100vw
    background-color: rgb(11, 10, 9)
    color: #FFFFFF
    position: fixed
    bottom: 0
    left: 0
    display: flex
    flex-grow: 1
    justify-content: space-between
    grid-area: footer

    .footer
        line-height: 8vh
        display: inline-block
        font-size: 12px
        background-color: rgb(11, 10, 9)

    .footer-left
        margin-left: 7%
        

    .footer-mid
        span
            margin-left: 30px
            background-color: rgb(11, 10, 9)


    .footer-right
        margin-right: 7%

@media (max-width: 720px)
    footer
        .footer
            font-size: 8px

        .footer-mid
            span
                font-size: 8px