.home
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: center
    width: 60vw

    &__pic
        max-height: 75vh
        

@media (max-width: 1000px)
    .home
        display: flex
        align-items: center
        justify-content: center
        width: 100vw

        &__pic
            margin-left: 0