.presse
    max-width: 100%
    padding-top: 30px
    padding-bottom: 15vh
    margin: 0 20px
    box-sizing: border-box

    &__title
        padding: 10px 0
        display: block
        font-family: 'open sans'
        color: red
        font-size: 21px
        font-weight: 600
        font-style: italic

    &__year
        display: block
        padding-top: 10px
        padding-bottom: 20px

    &__info
        display: block
        padding-bottom: 10px
        text-align: justify

    &__pic
        width: 50vw