.vita
    padding: 30px
    padding-bottom: 12vh
    background-color: rgb(223, 222, 221)
    max-width: 100%
    box-sizing: border-box

    &__title
        display: block
        padding: 10px 0
        color: red
        font-size: 21px
        font-weight: 600

    &__subtitle
        display: block
        padding: 10px 0
        color: red
        font-size: 16px
        font-weight: 600
        font-style: italic