.werke
    padding-top: 30px
    padding-bottom: 15vh
    max-width: 100%
    margin: 0 20px
    box-sizing: border-box

    &__title
        display: block
        padding: 10px 0
        font-family: 'open sans'
        color: red
        font-size: 21px
        font-weight: 600
        font-style: italic